  :root{
  --beige-color : #fffde7;
  --grey-color : #807F74;
  --dark-beige-color : #CC8B65;
  --white-color : #FFF;

}
@font-face{
    font-family: "Titles_font";
    src: url('../fonts/Cinzel-VariableFont_wght.ttf');
}
@font-face{
    font-family: "Main_font";
    src: url('../fonts/DancingScript-VariableFont_wght.ttf');
}
@font-face{
    font-family: "a_font";
    src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf');
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 35px;
  height: 3.7px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s 0.22s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;

}
body::-webkit-scrollbar {
  display:none;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
nav ul {
  list-style: none;
}   
nav ul li{
  display: inline-block;
  padding: 1vw;
  order: 3;
}
nav ul li a {
  position: relative;
  color: white;
  font-family: "a_font", sans-serif;
  font-size: clamp(1rem, 1vw, 1.2rem);
  text-decoration: none;
}
.links.active{
  font-size: clamp(2.5rem, 2.5vw, 7rem);
}
.bg{
  background: url("../img/salle4-modified.jpg");
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.logo{
	width: min(23vw, 120px);
  object-fit: cover;
  object-position: center;
}
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.main_titles{
  margin-top: 13vh;
}
.titles{
  text-shadow: 1px 1px 2px BLACK;
  font-family: "Titles_font", sans-serif;
  font-size: clamp(4.8rem, 3vw, 8rem);
  text-transform: uppercase;
  position: relative;
  color: white;
  padding: 0.5em 1em 0 1em;
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing : 5px;
}
.text{
  font-family: "Main_font", sans-serif;
  font-size: clamp(0.6rem, 1rem + 1.5vw, 2rem);
  position: relative;
  color: white;
  padding: 2em 3em 0 3em;
  display: flex;
  justify-content: center;
  text-align: center;
}
.numero{
  display: flex;
  justify-content: center;

}
.fa-phone{
  margin-right: 1vw;
}
.numero a {
  text-decoration: none;
  color: white;
  font-family: "Main_font", sans-serif;
  font-size: clamp(1rem, 0.3rem + 1.1vw, 1.3rem);
  margin: 0 0 1rem 1rem;
  position: relative;
  color: white;
  position:absolute;
  bottom:0;
}





.l-section{
  width: 100%;
  min-height: 100vh;
  background-color:#fcf5e9;
  
}
.l-section .main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}
.l-section h1{
  color: #C6B275;
}
.l-section .data {
  color: #1E2B31;
  margin: 0 0 0 5rem;

}
.l-section p{
  font-size: clamp(0.5rem, 0.6rem + 1vw, 1rem);
  padding: 10px;
  margin-left: 30px;  
  font-family: "a_font", sans-serif;
  min-width: 46vw;

}
.l-section h1 {
  font-size: clamp(1.8rem, 3.5vw, 4.5rem);
  padding: 25px;
  font-family: "Titles_font", sans-serif;
  text-transform: uppercase;
  margin-top: 4rem;
  text-decoration: none;
  
}
.l-section span{
  background:#C6B275;
  height:.1em;
  display:block;
  position:relative;
  width: 37vw;
  min-width: 300px;
  left: 2vw;
  bottom: 1vw;
}
.l-section .img_section{
  width: 100%;
  max-width: 46vw;
  border-radius: 0.5rem;
  margin: 13rem 7rem 0 0;
}





.second-section{
  width: 100%;
  min-height: 0vh;
  background-color:#EBDABC;
  background: url("../img/bois1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.second-section .titles{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.second-section h1{
  font-size: clamp(1.5rem, 3.5vw, 4.5rem);
  text-shadow: 1px 1px 2px BLACK;
  color: #F7F4E8;
}
.second-section h2{
  font-size: clamp(0.5rem, 0.4rem + 1vw, 1rem);
  text-shadow: 1px 1px 2px BLACK;
  color: #F7F4E8;

}

.cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card-container{
  
    font-family: 'Titles_font';
    font-size: 40px;
    cursor: pointer;
    font-weight: 500;
    width: 550px;
    height: 325px;
    margin: 80px auto;
    border-radius: 10px;
    perspective: 1400px;
}

.card, .card1, .card2, .card3{
    position: relative;

    height: 100%;

    border-radius: 10px;

    width: 100%;
    transform-style: preserve-3d;
}

.front,
.back,.front1,.back1,.front2,.back2{
    display: flex;

    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;

    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}
.back{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  font-family: "a_font";


  transform: rotateY(180deg);
  text-shadow: 1px 1px 2px BLACK;
  color: var(--white-color);
  background: url("../img/diplome\ prenatal.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.front{
  background: url("../img/diplome\ bebe\ enfant.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    text-shadow: 1px 1px 2px black;
}

.back1{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    font-family: "a_font";


    transform: rotateY(180deg);
    text-shadow: 1px 1px 2px BLACK;
    color: var(--white-color);
    background: url("../img/diplome\ kansu.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.front1{
  background: url("../img/diplome\ lomi\ lomi.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    text-shadow: 1px 1px 2px black;
}

.back2{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    font-family: "a_font";


    transform: rotateY(180deg);
    text-shadow: 1px 1px 2px BLACK;
    color: var(--white-color);
    background: url("../img/cropped-championnat-de-france-de-massage-2020-affiche.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.front2{
  background: url("../img/bts.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    text-shadow: 1px 1px 2px black;
}





.all-cards{

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;  
}
.third-section{
  width: 100%;
  min-height: 0vh;
  background-color:#fcf5e9;
}
.third-section h1{
  font-size: clamp(2.5rem, 3.5vw, 4.5rem);
  padding: 25px;
  font-family: "Titles_font", sans-serif;
  text-transform: uppercase;
  color: #C6B275;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
#container{
	box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 1em auto 5em;
	height: 260px;
	width: 300px;
  display: flex;
  justify-content: center;
	
}



/* 	Product details  */
.product-details {
	position: relative;
	overflow: hidden;
	padding: 20px;
	height: 100%;
	width: 100%;

}

/* 	Product Name */
#container .product-details h1{
	font-family: 'a_font', serif;
	display: inline-block;
	position: relative;
	font-size: 20px;
	color: #C6B275;
	margin: 0;
	
}

/*Product Rating  */
.hint-star {
	display: inline-block;
	color: gold;
	width: 50%;
  margin-bottom: 16px;

}


/* The most important information about the product */
#container .product-details > p {
  font-family: "Main_font", sans-serif;
	text-align: center;
	font-size: 26px;
	color: #7d7d7d;
	
}


.footer-distributed{
  
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  background: url("../img/bois1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  font-family: "a_font";
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-left img{
  width: min(40vw, 300px);
  object-fit: cover;
  object-position: center;
}

.footer-distributed .footer-left{
  width: 40%;
}


/* Footer links */

.footer-distributed .footer-links{
  text-shadow: 1px 1px 2px BLACK;
  color:  #fff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  text-shadow: 1px 1px 2px BLACK;
  color:  #fff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-company-name a{
  text-shadow: 1px 1px 2px BLACK;
  color:  #fff;
  margin-left: 20px;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  text-shadow: 1px 1px 2px BLACK;
  background-color: transparent;
  color: #fff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}
.footer-distributed .footer-center .mail:link{
  text-shadow: 1px 1px 2px BLACK;
  color: #fff;
}

.footer-distributed .footer-center p{
  text-shadow: 1px 1px 2px BLACK;
  display: inline-block;
  color: #fff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  text-shadow: 1px 1px 2px BLACK;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  text-shadow: 1px 1px 2px BLACK;
  color:  #fff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  text-shadow: 1px 1px 2px BLACK;
  display: block;
  color:  #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 2px;

  font-size: 20px;
  color: #fff;
  text-shadow: 1px 1px 2px BLACK;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}


@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}

.privacy{
  background-color: #EBDABC;
  padding: 30px;
}
.privacy{
  font-size: clamp(0.7rem, 1vw, 1.6rem);
  font-family: "a_font";
}
.privacy h1{
  font-size: clamp(1.5rem, 3.5vw, 4.5rem);
  font-weight: 200;
  font-family: "Titles_font";
}
.privacy h3{
  font-size: clamp(1.3rem, 3vw, 4rem);
  font-weight: 200;
  font-family: "Titles_font";
}


@media screen and (max-width: 1366px) {
  .l-section .img_section{
    width: 100%;
    max-width: 46vw;
    border-radius: 0.5rem;
    margin: 6rem 7rem 0 0;
  }
  
}
@media screen and (min-width: 1025px){
.hamburger{
  display: none;
}
}
@media screen and (max-width: 1025px){
    .links {
      display: flex;
      flex-direction: column;
      position: fixed;
      gap: 5rem;
      top: 15%;
      width: 100%;
      left: -100%;
      background: transparent;
      text-align: center;
      transition: all 0.5s;
    }
    .links.active{
      position: fixed;
      left: 0;
    }
    .main.active {
      display: none;
    } 
    html.active {
      overflow-y: hidden;
    }
    .hamburger{
      margin-right: 20px;
    }
    .logo{
      margin-left: 20px;
    }
    nav{
      justify-content: space-between;
    }
    .l-section .main{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .l-section .data{
      margin: 0;
    }
    .l-section p, h1{
      margin: 0;
    }
    .l-section .img_section{
      margin: 0;
      margin-bottom: 100px;
    }
    .l-section .h1{
      flex-direction: column;
      justify-content: center;
      display: flex;
      align-items: center;  
    }


}
@media screen and (max-width: 876px) {

  .titles{
    font-size: clamp(4rem, 2.5vw, 7rem);
  }
  .main_titles{
    margin-top: 18vh;
  }  
  .l-section .data{
    padding: 0;
    margin: 0;
  }
  .l-section .img_section{
    max-width: 90vw;
    margin-right: 0;
  }
  .l-section .main{
    gap: 50px;

  }
}
@media screen and (min-height: 800px) {
  .textarea{
    margin-top: 50px;
  }
  .main_titles{
    margin-top: 14vh;
  }
}


@media screen and (max-height: 800px) {
  .links.active{
    display: flex;
    gap: 1.7rem;
  }

}
@media screen and (max-width: 600px) {
  .titles{
    font-size: clamp(2rem, 6vw, 10rem);
  }  
}
@media screen and (max-width: 450px) {
  .card-container{
    width: 300px;
    height: 200px;
    font-size: 30px;
}
  .back{
    font-size: 14px;
  }
}
@media screen and (max-width: 311px) {
  .titles{
    font-size: clamp(1.6rem, 6vw, 10rem);
  }  
  .l-section span{
    min-width: 200px;
  }  
}



